<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procesamiento de Audio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="screen">
        
        <div class="content">
            <h2 class="course-title">Curso: Procesamiento Digital de Señales</h2>
            <h3 class="topic">Tema: Edición, mezcla y filtrado de audio</h3>
            <h4 class="professor">Dr. Ing. Rafael Bustamante Alvarez</h4>
            <section class="members">
                <br> <p class="parrafo">GRUPO N° 7</p>  
                <br>
                <p class="parrafo" >CAHUANA ANCCO DAVID ALEX - 21190049 <br>PALOMINO CHAHUA SAMS - 21190065 </p> 
                <br> <p class="parrafo">GRUPO N° 9</p> 
                <p class="parrafo">CÁNEPA ESTRELLA GROVER NICK - 21190081 <br>VILCAHUAMAN PUCHOC JASON  - 21190121 </p> 
                <br><p class="parrafo">GRUPO N° 20</p> 
                <p class="parrafo">GONZALES ANTICONA JOSVIN KEVIN - 21190050 <br>CHÁVEZ MARQUEZ PABLO ALEF - 21190107 </p> 
                <br> <p class="parrafo">GRUPO N° 23</p> 
                <p class="parrafo">LAMADRID RIJALVA JUSTIN - 21190129 <br>LUCAS CAJAHUAMAN ANA JIMENA - 21190060 </p> 
            <a href="{{ url_for('upload') }}"><button id="start-button">SIGUIENTE</button></a>
            </section>
        </div>
    </div>
</body>
</html>
